openapi: 3.2.0
info:
  title: 2C2P Payment Gateway API (PGW v4.3) Maintenance API
  description: Server-to-server REST interface for the 2C2P Payment Gateway.
  version: '4.3'
  contact:
    name: 2C2P Developer
    url: https://developer.2c2p.com
  x-transport-notes: All traffic is HTTPS request/response. Asynchronous results are delivered as a backend notification webhook (2C2P POSTs a signed JWT to the merchant's backendReturnUrl). There is no WebSocket or SSE transport.
servers:
- url: https://pgw.2c2p.com/payment/4.3
  description: Production
- url: https://sandbox-pgw.2c2p.com/payment/4.3
  description: Sandbox
tags:
- name: Maintenance
  description: Void / cancel, refund, and settle operations.
paths:
  /cancelTransaction:
    post:
      operationId: cancelTransaction
      tags:
      - Maintenance
      summary: Cancel / void a transaction
      description: Voids or cancels a transaction. Refund and settle operations are covered by the 2C2P payment maintenance guides.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelTransactionRequest'
      responses:
        '200':
          description: Decoded cancel/void response payload.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
components:
  schemas:
    CancelTransactionRequest:
      type: object
      required:
      - merchantID
      - invoiceNo
      properties:
        merchantID:
          type: string
        invoiceNo:
          type: string
    GenericResponse:
      type: object
      properties:
        respCode:
          type: string
        respDesc:
          type: string
      additionalProperties: true
