openapi: 3.2.0
info:
  title: 2C2P Payment Gateway API (PGW v4.3) Payment Option API
  description: Server-to-server REST interface for the 2C2P Payment Gateway.
  version: '4.3'
  contact:
    name: 2C2P Developer
    url: https://developer.2c2p.com
  x-transport-notes: All traffic is HTTPS request/response. Asynchronous results are delivered as a backend notification webhook (2C2P POSTs a signed JWT to the merchant's backendReturnUrl). There is no WebSocket or SSE transport.
servers:
- url: https://pgw.2c2p.com/payment/4.3
  description: Production
- url: https://sandbox-pgw.2c2p.com/payment/4.3
  description: Sandbox
tags:
- name: Payment Option
  description: Retrieve available payment options and channel details.
paths:
  /paymentOption:
    post:
      operationId: paymentOption
      tags:
      - Payment Option
      summary: Get payment options
      description: Returns the payment options / channels available for a paymentToken.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentOptionRequest'
      responses:
        '200':
          description: Decoded payment option response payload.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
  /paymentOptionDetails:
    post:
      operationId: paymentOptionDetails
      tags:
      - Payment Option
      summary: Get payment option details
      description: Returns detailed metadata for a specific payment option / channel.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentOptionRequest'
      responses:
        '200':
          description: Decoded payment option details response payload.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
components:
  schemas:
    PaymentOptionRequest:
      type: object
      required:
      - paymentToken
      properties:
        paymentToken:
          type: string
        locale:
          type: string
    GenericResponse:
      type: object
      properties:
        respCode:
          type: string
        respDesc:
          type: string
      additionalProperties: true
